/* Dashboard styles */
.dashboard .card {
    width: 260px;
    height: 260px;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    font-family: Arial, sans-serif;
    margin: 15px;
}

.dashboard .card-bg-blue {
    background-color: #005f9f;
    height: 60%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dashboard .card-bg-medium-blue {
    background-color: #0074e4;
}

.dashboard .card-bg-light-blue {
    background-color: #4fc1e9;
}

.dashboard .card-bg-very-light-blue {
    background-color: #a0d3e8;
}

.dashboard .card-title {
    font-size: 0.9em;
    color: #005f9f;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.dashboard .card-title-blue {
    color: #0074e4;
}

.dashboard .card-title-medium-blue {
    color: #0074e4;
}

.dashboard .card-title-light-blue {
    color: #4fc1e9;
}

.dashboard .card-title-very-light-blue {
    color: #a0d3e8;
}

.dashboard .card-term,
.dashboard .card-year {
    font-size: 0.8em;
    color: grey;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.dashboard .card-term {
    font-size: 1em;
}

.dashboard .no-underline {
    text-decoration: none;
}

.dashboard .card-body {
    padding: 10px;
}

.dashboard .card-body i {
    font-size: 1.2em;
    margin: 5px;
    color: grey;
}

.dashboard .courses-grid {
    margin-left: 20px;
}

.dashboard .h3-margin-left {
    margin-left: 35px;
}
