/* Course Navigation Sidebar styles */
.course-nav .list-group {
  border-radius: 0;
  background-color: white;
  list-style: none;
  padding: 0;
  width: 200px;
  margin: 0;
  margin-left: 20px;
  font-family: Arial, sans-serif;
}

.course-nav .list-group-item {
  color: red;
  background-color: white;
  border: none;
  padding: 0;
  margin-bottom: 5px;
  font-size: 0.8em;
  text-align: left;
  white-space: normal;
  overflow-wrap: break-word;
  transition: all 0.2s;
}

.course-nav .list-group-item a {
  text-decoration: none;
}

.course-nav .list-group-item:not(.active) + .list-group-item {
  margin-top: 20px;
}

.course-nav .list-group-item a:hover,
.course-nav .list-group-item a:focus {
  color: black;
}

.course-nav .list-group-item:hover,
.course-nav .list-group-item:focus {
  background-color: white;
  border-left: 4px solid black;
  padding-left: 10px;
}
